<!DOCTYPE html>
<html lang="en">
  <%-include('layouts/header')-%>

  <body>
    <!-- Navigation -->
    <%-include('layouts/navbar')-%>

    <header
      class="masthead"
      style="background-image: url('/img/contact-bg.jpg')"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>Sign in</h1>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Sign in</p>
          <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work. -->
          <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address! -->
          <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally! -->
          <form action="/users/login" method="POST">
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="name">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  placeholder="Username"
                  required
                />
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label for="password">Password</label>
                <input
                  type="password"
                  class="form-control"
                  placeholder="password"
                  id="password"
                  name="password"
                  required
                  data-validation-required-message="Please enter email."
                />
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br />
            <div id="success"></div>
            <button
              type="submit"
              class="btn btn-primary"
              id="sendMessageButton"
            >
              Login
            </button>
          </form>
        </div>
      </div>
    </div>

    <hr />
    <!-- Footer -->
    <%-include("layouts/footer")-%>
    <!-- Scripts -->
    <%-include("layouts/scripts")-%>
  </body>
</html>
